name: Development Build and Deploy
on:
  push:
    branches: [ dev ]
    paths-ignore:
      - '.github/workflows/**'
      - '**.md'
env:
  URL: archaeogeek.github.io/gemini-dev

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: development
      url: https://${{ env.URL }}
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v2
      
      # https://github.com/actions/checkout#push-a-commit-using-the-built-in-token
      - name: Set GitHub Actions as Commit Author
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
          
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          path: 'build'
      
      - name: Build
        run: |
          cd build
          yarn
          export API_URL=https://octobay.uber.space/dev
          export GITHUB_CLIENT_ID=79c2b8f305ad223cfb5e
          export OCTOBAY_ADDRESS=0xEC1dA9EeE346A67C121E4fce746C64b4e31b61A4
          export CHAIN_ID=42
          yarn app:generate
          cd ..
      
      - name: Checkout Dev Target
        uses: actions/checkout@v2
        with:
          repository: archaeogeek/gemini-dev
          path: 'deploy'
          token: ${{ secrets.PAT }}
      
      - name: Push files to target
        run: |
          cp -r build/dist/* deploy
          cd deploy
          touch .nojekyll
          echo ${{ env.URL }} > CNAME
          git add .
          git commit -m $GITHUB_SHA
          git push
